<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Интернет-магазин</title>
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<div id="app">
    <header>
        <div class="logo">E-shop</div>
        <div class="cart">
            <form action="#" class="search-form">
                <input v-model ="userSearch" type="text" type="submit" class="search-field">
                <button @click="filterGoods()"
                class="btn-search">
                    <i class="fas fa-search"></i>
                </button>
            </form>
            <button class="btn-cart" type="button" @click="isVisibleCart = !isVisibleCart">Корзина</button>
            <div class="cart-block" v-show="isVisibleCart">
                <div v-for="product of basket" :key="product.id_product">
                <div class="basket-item">
                    <div>{{product.product_name}}</div>
                    <div>{{product.price * product.quantity}} $</div>
                    <div>{{product.quantity}} шт.</div>
                </div>
            </div>
        </div>
    </header>
    <main>
        <div class="products" v-if="products.length != 0">
            <div class="product-item" v-for="product of products" :key="product.id_product">
                <img :src="imgCatalog" alt="Some img">
                <div class="desc">
                    <h3>{{product.product_name}}</h3>
                    <p>{{product.price}} $</p>
                    <button class="buy-btn" @click="addProduct(product)">Купить</button>
                </div>
            </div>
        </div>
        <div class="products" v-else="products.length"> Список товаров пуст!</div>
    </main>
</div>
    <script defer src="https://use.fontawesome.com/releases/v5.7.2/js/all.js" integrity="sha384-0pzryjIRos8mFBWMzSSZApWtPl/5++eIfzYmTgBBmXYdhvxPc+XcFEk+zJwDgWbP" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="js/main.js"></script>
</body>
</html>

<!--<div class="cart-item" data-id="${this.id_product}">-->
    <!--<div class="product-bio">-->
        <!--<img src="${this.img}" alt="Some image">-->
        <!--<div class="product-desc">-->
            <!--<p class="product-title">${this.product_name}</p>-->
            <!--<p class="product-quantity">Quantity: ${this.quantity}</p>-->
            <!--<p class="product-single-price">$${this.price} each</p>-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="right-block">-->
        <!--<p class="product-price">${this.quantity*this.price}</p>-->
        <!--<button class="del-btn" data-id="${this.id_product}">&times;</button>-->
    <!--</div>-->
<!--</div>-->
